.carousel-inner{
  height:100%;
}

.carousel-item{
  height:100%;

}

.carousel-img{
  display:flex;
  justify-content: center;
  height:100%;

}
.carousel-caption{
background-color:  #6878af;
padding-left: 5px;
padding-right:5px;
border-radius: 5px;

}