.carousel-inner{
  height:100%;
}

.carousel-item{
  height:100%;

}

.carousel-img{
  display:flex;
  justify-content: center;
  height:100%;

}
.carousel-caption{
background-color:  #f8f4f9;
border-radius: 5px;

}